.topBar {
    display: flex;
    flex-direction: row;
    padding: 12px 70px;
    justify-content: space-between;
}

.header {
    display: flex;
    flex-direction: row;
    padding: 84px 135px 164px;
    gap: 80px;
    justify-content: space-between;
}

.company {
    display: block;
    padding: 0px 135px 80px;
    text-align: center;
}

.about {
    text-align: center;
    background-color: #F9FAFB;
    padding: 80px 135px;
}

.containerAbout {
    padding: 36px 24px;
    background-color: #FFFFFF;
    text-align: center;
}

.aboutCircle {
    background-color: #F9FAFB;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    padding: 20px;
    margin: 0 auto 16px;
}

.containerExcellence {
    padding: 86px 135px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.excellence_info {
    margin: auto;
    margin-left: 0;
}

.excellence_info p {
    width: 575px;
}

.faq {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 80px 135px;
}

.signup {
    padding: 80px 135px;
    text-align: center;
}